<!DOCTYPE html>
<html ng-app="paper">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
<title>Paper</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!--link rel="stylesheet" href="css/paper.css"-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular-sanitize.js"></script>
<script type="text/javascript" src="js/jquery.isotope.js"></script>
</head>
<body>
<style>
 [data-role="tile-list"] {
     
     padding: 0 7px 0 35px;
     
 }
.tile {
position: relative;
margin-bottom: 8px;
border: 1px solid #a3a7af;
border-bottom-color: #8c9098;
background: #f4f4f6;    
padding:6px;
}
.tile_inner {
    
    color:#fff;
    height:145px;
    position:relative;
    background-size:cover;
    background-position:50% 0;
    
}
.tile_inner span {
display: -webkit-box;
overflow: hidden;
text-overflow: ellipsis;
position: absolute;
left: 0;
bottom: 6px;
width: 264px;
height: 22px;
padding-left: 8px;
font-size: 14px;
color: #fff;
font-weight: bold;
line-height: 22px;
letter-spacing: -1px;
text-shadow: 0 1px #000;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
z-index: 30;    
}

.tile_inner:after {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 44px;
background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,0)),color-stop(.4,rgba(0,0,0,.2)),color-stop(.52,rgba(0,0,0,.3)),color-stop(.63,rgba(0,0,0,.5)),color-stop(.7,rgba(0,0,0,.6)),color-stop(.8,rgba(0,0,0,.75)),to(rgba(0,0,0,.85)));
content: '';
z-index: 20;
}
.backside {
    padding:10px;
    overflow:hidden;
    
}
</style>
<div id="wrap">


    <div ng-controller="MainCtrl" class="contain2er">
    <span ng-bind-html="html"></span>
    
        <div data-role="tile-list">
            <div ng-repeat="article in articles" class="tile-wrap">
            <div class="tile"
                ng-attr-data-tile-index="{{$index}}"
                ng-click="viewContent(article.url)"
                >
                <div class="tile_inner"
                ng-style="{backgroundImage:'url(' + article.image + ')'}"
                >
                
                <span>
                <!--{{$index}}.-->{{article.title}}
                </span>
                </div>
                
                
            </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/paper.js"></script>
<script type="text/javascript" src="js/paper.services.js"></script>
<script type="text/javascript" src="js/paper.controllers.main.js"></script>
<script>
$(document).ready(function () {

    var onTileFlip = {};

    function getOriginalEvent(event) {
        //console.log(event.originalEvent);
        


        if (event && event.type && event.type.search(/touch/) != -1) {
            event = event.originalEvent.touches[0];
            event.offsetX = event.pageX - $(event.target).offset().left;
            event.offsetY = event.pageY - $(event.target).offset().top;
            return event;
        } else {
            return event;
        }
    }
    
    return;

    $(document.body).delegate('.tile', 'mousedown touchstart', function (event) {


        //console.log('www');
        if (onTileFlip.on) {
            return;
        }

        event = getOriginalEvent(event);



        var tileWidth = $(this).outerWidth();

        console.log(event);
        
        $(document.body).find('.backside').remove();

        onTileFlip = {
            //on: true,
            x: event.pageX,
            y: event.pageY,
            el: $(this),
            flipToRight: tileWidth / 2 > event.offsetX ? true : false,
            distance: tileWidth - event.offsetX,
            deg: 0,
            backside: $('<div class="backside"> I am backside</div>')
        };
        
        onTileFlip.el.parent().append(onTileFlip.backside);

        onTileFlip.distance = onTileFlip.flipToRight ? tileWidth - event.offsetX : event.offsetX;

        //console.log(flip);

        //console.log(event.pageX, event.pageY);
        //console.log(event.clientX, event.clientY);
        //console.log($(this).outerWidth());
        //console.log(event.offsetX, event.offsetY);




    });
    
    var animFrame;
    
    function ___flip(el, deg) {
        
        //cancelAnimationFrame(animFrame);
        
        //animFrame = requestAnimationFrame(function() {
            
        


            if (Math.abs(deg) > 90) {
                //flip.el.css('border', '2px solid yellow')    ;
               // el.css('visibility', 'hidden')    ;
               
               onTileFlip.backside.css({
                   display: 'block',
                    WebkitTransform: 'rotateY(' + (deg + 180) + 'deg)',
                    height: 150 + Math.abs(deg)
                    //,                opacity: Math.abs(Math.abs( deg) - 90)/ 90
                });        
            } else {
                onTileFlip.backside.css({
                   display: 'none'
                });        
                //el.css('visibility', 'visible')    ;
                
            }
            
            
            //console.log(Math.abs(Math.abs( deg) - 90)/ 90);

            el.css({
                WebkitTransform: 'rotateY(' + deg + 'deg)',
                height: 150 + Math.abs(deg)
                
                //,                opacity: Math.abs(Math.abs( deg) - 90)/ 90
            });        
            
        //});
    }
    

    $(document.body).on('mousemove touchmove', function (event) {
        var delta;
        
        event = getOriginalEvent(event);
        if (!onTileFlip.on) {
            
            
            deltaX = Math.abs(event.pageX - onTileFlip.x);
            deltaY = Math.abs(event.pageY - onTileFlip.y);
            
            
            if (deltaX > 30 && deltaX > deltaY) {
                onTileFlip.on = true;
            }
            onTileFlip.el.parent().addClass('front');
            
        }
        //console.log('mousemove');
        if (onTileFlip.on) {
            event = getOriginalEvent(event);
            //distance: 280
            //console.log('delta : ' + (onTileFlip.x - event.pageX));   

            onTileFlip.deg = ((event.pageX - onTileFlip.x) / onTileFlip.distance) * 180;
            
            ___flip( onTileFlip.el, onTileFlip.deg);
            

        }


    });

    $(document.body).on('mouseup touchend', function (event) {
        
        var el;
        //console.log('mousemove');
        if (onTileFlip.on) {
            //event = getOriginalEvent(event);
            if (onTileFlip.deg) {
                //console.log('>>>>>');
                
                el = onTileFlip.el;

                el.stop().css('borderSpacing', onTileFlip.deg);

                el.animate({
                    borderSpacing: 0
                }, {
                    duration: 700,
                    step: function (now, fx) {
                        // console.log(fx);
                        if (fx.prop == 'borderSpacing') {
                            
                            
                            ___flip( el, now);
                            //     console.log(now);
                                         
                        }
                    }
                });

            }
            onTileFlip.on = false;
            setTimeout(function() {
                onTileFlip.el.parent().removeClass('front');    
            }, 750);
            
            //console.log('delta : ' + (flip.x - event.pageX));    
        }


    });

});
</script>
</body>
</html>